In [12]:
# pip install pysharepoint

In [21]:
#pip install office365-rest-client

In [1]:
#pip install sharepy

In [1]:
import sharepy
from sharepy import connect
from sharepy import SharePointSession
import logging
import pandas as pd
#import jsonÂ 

SPUrl = "https://assetmark-my.sharepoint.com"
username ="Praveen.Singh@assetmark.com"
password ="Welcome208435!" 

site = "https://assetmark-my.sharepoint.com/:x:/r/personal/rishi_bhadoria_assetmark_com/Documents/Documents/AM_2022/QA%20Transition/QA_Leave_Tracker_2022.xlsx"
s = sharepy.connect(SPUrl,username,password)
print('connected')
print(s)

# Create header for the http request
my_headers = {
'accept' : 'application/json;odata=verbose',
'content-type' : 'application/json;odata=verbose',
'odata' : 'verbose',
'X-RequestForceAuthentication' : 'true'
}
local_file_path=r'C:\Users\Praveen.Singh\Downloads\S_file.xlsx'
response = s.getfile(site,headers = my_headers,filename = local_file_path)
#convert excel into dataframe
month_name='NOV'
try:
    df=pd.read_excel(local_file_path,sheet_name=month_name)
    print('dataframe creation succesfull for Nov month data')
    print('the length of df generated : ', len(df))
    #print(df)
except Exception as e:
    print(e)

connected
<sharepy.session.SharePointSession object at 0x0000022D87AF3160>
dataframe creation succesfull for Nov month data
the length of df generated :  75

In [32]:
col_list=['Emp_Id','Emp_name','BD_1','BD_2','BD_3','BD_4','BD_5','BD_6','BD_7','BD_8','BD_9','BD_10',
         'BD_11','BD_12','BD_13','BD_14','BD_15','BD_16','BD_17','BD_18','BD_19','BD_20','BD_21','BD_22','BD_23','BD_24',
          'BD_25','BD_26','BD_27','BD_28','BD_29','BD_30','BD_31']
push_db=pd.DataFrame(columns=col_list)
print(push_db)

Empty DataFrame
Columns: [Emp_Id, Emp_name, BD_1, BD_2, BD_3, BD_4, BD_5, BD_6, BD_7, BD_8, BD_9, BD_10, BD_11, BD_12, BD_13, BD_14, BD_15, BD_16, BD_17, BD_18, BD_19, BD_20, BD_21, BD_22, BD_23, BD_24, BD_25, BD_26, BD_27, BD_28, BD_29, BD_30, BD_31]
Index: []

[0 rows x 33 columns]

In [5]:
l1=df.columns.tolist()
print(l1)

['S.No.', 'Emp Id', 'Name', 'Unnamed: 3', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday.1', 'Wednesday.1', 'Thursday.1', 'Friday.1', 'Saturday.1', 'Sunday.1', 'Monday.1', 'Tuesday.2', 'Wednesday.2', 'Thursday.2', 'Friday.2', 'Saturday.2', 'Sunday.2', 'Monday.2', 'Tuesday.3', 'Wednesday.3', 'Thursday.3', 'Friday.3', 'Saturday.3', 'Sunday.3', 'Monday.3', 'Tuesday.4', 'Wednesday.4']

In [6]:
df.drop(['S.No.','Unnamed: 3'],axis=1,inplace=True) 
l1=df.columns.tolist()
print(l1)

['Emp Id', 'Name', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday.1', 'Wednesday.1', 'Thursday.1', 'Friday.1', 'Saturday.1', 'Sunday.1', 'Monday.1', 'Tuesday.2', 'Wednesday.2', 'Thursday.2', 'Friday.2', 'Saturday.2', 'Sunday.2', 'Monday.2', 'Tuesday.3', 'Wednesday.3', 'Thursday.3', 'Friday.3', 'Saturday.3', 'Sunday.3', 'Monday.3', 'Tuesday.4', 'Wednesday.4']

In [7]:
df.loc[:,[i for i in l1 if (i.startswith('Saturday') or i.startswith('Sunday'))]]='WH'

In [8]:
df.fillna('Y', inplace=True)

In [9]:
df=df[(df.Name!='Y') & (df.Name!='Gurgaon Team') & (df.Name!='Chennai Team') & (df.Name!='Interns') & (df.Name!='Mexico Team') & (df.Name!='LEGEND') & (df.Name!='Planned Leave') &  (df.Name!='Sick Leave') & (df.Name!='Unplanned Leave') & (df.Name!='Public Holiday')]

In [21]:
df = df.reset_index(drop=True).rename(columns={'Name':'Emp name'})

In [22]:
df.to_excel(r'C:\Users\Praveen.Singh\Downloads\df_file.xlsx',index=False)
print(df)

      Emp Id        Emp name Tuesday Wednesday Thursday Friday Saturday  \
0   606579.0      Amit Malik       Y         Y        Y      Y       WH
1   603325.0     Anuj Kogata      PL         Y        Y      Y       WH
2          Y   Chetna Sehgal       Y         Y        Y      Y       WH
3   606842.0     Ishan Mehta       Y         Y        Y      Y       WH
4   606831.0     Meenu Dagar       Y         Y        Y      Y       WH
..       ...             ...     ...       ...      ...    ...      ...
58  608193.0     Juan Sotelo       Y         Y        Y      Y       WH
59  608195.0     Luis Rivera       Y         Y        Y      Y       WH
60  608152.0   Ivan Gonzalez       Y         Y        Y      Y       WH
61  608137.0  Jesus Olivares       Y         Y        Y      Y       WH
62  608055.0   Juan Santiago       Y         Y        Y      Y       WH

   Sunday Monday Tuesday.1  ... Monday.2 Tuesday.3 Wednesday.3 Thursday.3  \
0      WH      Y        PH  ...        Y         Y           Y          Y
1      WH      Y        PH  ...        Y         Y           Y          Y
2      WH      Y        PH  ...        Y         Y           Y          Y
3      WH      Y        PH  ...        Y        PL          PL         PL
4      WH     UL        PH  ...        Y         Y           Y          Y
..    ...    ...       ...  ...      ...       ...         ...        ...
58     WH      Y         Y  ...       PH         Y           Y          Y
59     WH      Y         Y  ...       PH         Y           Y          Y
60     WH      Y         Y  ...       PH         Y           Y          Y
61     WH      Y         Y  ...       PH         Y           Y          Y
62     WH      Y         Y  ...       PH         Y           Y          Y

   Friday.3 Saturday.3 Sunday.3 Monday.3 Tuesday.4 Wednesday.4
0         Y         WH       WH       PL        PL          PL
1         Y         WH       WH        Y         Y           Y
2         Y         WH       WH        Y         Y           Y
3        PL         WH       WH        Y         Y           Y
4         Y         WH       WH        Y         Y           Y
..      ...        ...      ...      ...       ...         ...
58        Y         WH       WH        Y         Y           Y
59        Y         WH       WH        Y         Y           Y
60        Y         WH       WH       PL         Y           Y
61        Y         WH       WH        Y         Y           Y
62        Y         WH       WH       PL         Y           Y

[63 rows x 32 columns]

In [14]:
#Region list
l3=['Gurgaon']*27
l3.extend(['Chennai']*9)
l3.extend(['Gurgaon']*3)
l3.extend(['Mexico']*24)
print(l3)

['Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico']

In [16]:
#mapping dict for emp_name, region and emp_id
mapping_dict={'emp_name':df['Name'].values.tolist(),'Region':l3}
print(mapping_dict)

{'emp_name': ['Amit Malik', 'Anuj Kogata', 'Chetna Sehgal', 'Ishan Mehta', 'Meenu Dagar', 'Nitu Panjiyar', 'Praful Tufchi', 'Prashant Yadav', 'Rakhi Chauhan', 'Sandeep Kaur', 'Shubham Gupta', 'Sourav Anand', 'Vipin Grover', 'Priyanka Goyal', 'Praveen Singh', 'Anurag Gupta', 'Anmol Kumar', 'Ashima Sethi', 'Kanika', 'Abhey Verma', 'Ritu Singh', 'Mohammad Sarwar', 'Varun Garg', 'Rahul A', 'Smriti Agarwal', 'Jyotsana Singh', 'Himanshi Sharma', 'Dinesh Babu', 'Jaya Sudha B', 'Kurnool Mahesh Kumar', 'Lallu Prasath Gunasekaran', 'Madhan Kumar', 'Pugazhendhi C', 'Suriyakumar Manoharan', 'Tarun Sivalingam', 'Vignesh', 'Bhanu Pratap Sunda ', 'Harshul ', 'Paritosh Sharma ', 'Atzel Hisao Armenta Blanco', 'Cesar Omar Morales Rodriguez', 'Edgar Hernandez Espinosa', 'Jonathan Francisco Lopez Luna', 'Leonardo Garza Estrada Berg', 'Luis Fernando Ambriz Calderon', 'Maria Fernanda Rodriguez', 'Roberto Jacob Ponce Gamboa', 'Luis Eduardo Larios Flores', 'Jesus Meraz', 'Majhay Caro', 'Lourdes Rangel', 'Victor Rivas', 'Juan Garcia', 'Lilia Gutierrez', 'Antonio Rojas', 'Angelina Crespo', 'Erick Carrera', 'Juan Rio', 'Juan Sotelo', 'Luis Rivera', 'Ivan Gonzalez', 'Jesus Olivares', 'Juan Santiago'], 'Region': ['Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Chennai', 'Gurgaon', 'Gurgaon', 'Gurgaon', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Mexico']}

In [33]:
print(push_db.columns.tolist())

['Emp_Id', 'Emp_name', 'BD_1', 'BD_2', 'BD_3', 'BD_4', 'BD_5', 'BD_6', 'BD_7', 'BD_8', 'BD_9', 'BD_10', 'BD_11', 'BD_12', 'BD_13', 'BD_14', 'BD_15', 'BD_16', 'BD_17', 'BD_18', 'BD_19', 'BD_20', 'BD_21', 'BD_22', 'BD_23', 'BD_24', 'BD_25', 'BD_26', 'BD_27', 'BD_28', 'BD_29', 'BD_30', 'BD_31']

In [34]:
df.columns=push_db.columns

ValueError: Length mismatch: Expected axis has 32 elements, new values have 33 elements

In [35]:
print(len(df.columns))

32